<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
  }

  span {
    margin: 10px;
  }

  img {
    margin-top: 20px;
  }
</style>


<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" alt="">
  <span>Oi, {{name}}</span>

  <br>

  <span>Você solicitou a alteração de senha.</span>
  <span>Para realizar a troca, clique no link 
    <a href="{{link}}">{{link}}</a>
  </span>

  <span>Caso não tenha sido você quem solicitou a alteração de senha, favor desconsiderar esse e-mail.</span>

  <strong>Obrigado!</strong>

  <span>Att,</span>

  <h3>Equipe | <strong>Rentx</strong></h3>
</div>